@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <form asp-controller="Restaurants" asp-action = "processCsv" method="post" enctype="multipart/form-data">

        <input type="file" accept=".csv" name="file" />
        <hr />
        <button type="submit">Upload</button>

    </form>

</div>
